.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: rgb(113, 255, 146);
}
.footer-col {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-col-title {
  font-size: 2rem;
}
