* {
  margin-left: 100px;
  box-sizing: content-box;
}

.add-payment {
  display: flex;
  border: 1px solid black;
  border-radius: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.add-payment-content {
  font-size: 1.5rem;
  margin-left: 3rem;
}

.passbookpage-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 15rem;
  padding-top: 0;
}
.passbookpage-text {
  font-size: 1.5rem;
  margin-top: 2rem;
  align-self: flex-start;
  margin-left: 0.5rem;
}
.passbookpage-addpayment {
  bottom: 20px;
  right: 20px;
  background-color: #2600ff;
  text-align: center;
  font-size: 1.3rem;
  width: 12rem;
  height: 4rem;
  padding-top: 1rem;
  border-radius: 0.3rem;
  border: 3px solid #2600ff79;
  transition: border-radius 0.2s ease;
  margin: 1.5rem 4rem;
  color: #ffffff;
}
.passbookpage-addpayment:hover {
  cursor: pointer;
  border: 4px solid #2600ff;
  border-radius: 1.1rem;
}
.passbook-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
