.income-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  background-color: azure;
  border-radius: 1rem;
  background-color: #00f5ff;
  margin-top: 10px;
  padding: 0 2rem;
}

.income-card-title {
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: 1px solid #00ffcc;
  align-items: center;
  justify-content: flex-end;
}
.income-card-title-name {
  font-size: 1.5rem;
}
.income-card-title-value {
  font-size: 1.5rem;
}
.progressbar {
  margin: 0 1rem 1rem 1rem;
  border-radius: 3rem;
  padding: 0.4rem 0rem;
}
.income-card-button {
  padding: 0.2rem 2rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

.income-card-button:hover {
  background-color: rgb(104 255 104);
  transition: 0.3s;
  border-radius: 6px;
}
