.secondaryTracking-item {
  display: flex;
  justify-content: space-between;
}
.secondaryTracking {
  margin: 1rem 2rem;
  border: solid black 1px;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  width: 100%;
}
.secondaryTracking-item-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.secondaryTracking-item-value {
  font-size: 1.2rem;
}
.secondaryTracking-item-target {
  font-size: 1.2rem;
}
