.tag-full-info-name {
  font-size: 2rem;
  font-weight: bold;
}
#tag-full-info-label-icon {
  font-size: 2rem;
}
.tag-full-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 15rem;
}
.tag-full-info-bar-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.tag-full-info-type {
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tag-full-info-edit-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* align at center horizontally */
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
}
.tag-full-info-edit {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background: #89d3ff;
  width: 5rem;
  text-align: center;
}
.tag-full-info-graph {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 15rem;
}
.tag-full-info-payments {
  width: 100%;
  padding: 1rem 15rem;
}
.tag-full-info-payments-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2.2rem;
  align-self: center;
}
.tag-full-info-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.tag-full-info-edit{
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background: #06dd3c;
  width: 5rem;
  text-align: center;
}
.tag-full-info-edit-target{
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background: #ff0000;
  width: 5rem;
  text-align: center;
}

.tag-full-info-delete{
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background: #ff0000;
  width: 5rem;
  text-align: center;
}
