.faq-body {
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h2 {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

.faq-item p {
  margin: 0;
  padding: 10px;
  background-color: #fafafa;
  border-left: 3px solid #007bff;
  border-radius: 0 5px 5px 0;
}
