@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar {
  /* position: absolute; */
  /* left: 0; */
  text-decoration: none;
  background-color: rgb(191, 200, 255);
  /* height: 100%;
  margin-top: 3rem;
  margin-left: 2rem; */
  /* overflow: hidden;
  border-radius: 1rem; */
}

.sidenav-container {
  font-size: 40px;
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
}

.sidenav-list {
  list-style-type: none;
}

.sidenav-list-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center; /* Added this line */
  font-size: 30px;
}

.sidenav-list-item:hover {
  background-color: rgb(147, 156, 216);
  padding-left: 1rem;
}

.sidenav-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.sidenav-list-item p {
  margin-left: 10px;
  font-size: 25px;
}
/* sidebar.css */
.sidenav-label {
  opacity: 0;
  max-width: 0; /* Start with max-width at 0 */
  overflow: hidden; /* Prevent content from overflowing */
  display: inline-block; /* Allows max-width animation */
  white-space: nowrap; /* Keep the label in a single line */
  transform: translateX(-20px);
  transition: opacity 0.5s, max-width 0.5s ease, transform 0.5s ease;
}

.sidenav-list-item.open .sidenav-label {
  opacity: 1;
  max-width: 200px; /* Adjust based on the expected width of the label */
  transform: translateX(0);
}
