.passbook-listings {
  width: 80%;
  background-color: rgb(168, 168, 255);
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passbook-listings-amount {
  font-size: 2rem;
  font-weight: bold;
}
.passbook-listings-name {
  padding: 1rem 1rem;
  padding-left: 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.passbook-listings-date {
  font-size: 0.8rem;
}
